
.wrong {
   border-radius: 5px;
   height: 75px;
   width: 100px;
   background-color: red;
   margin-bottom: 10px;
   padding-top: 3px;
}

.correct {
    border-radius: 5px;
    height: 1215x;
    width: 200px;
    background-color: #218838;
    margin-bottom: 10px;
    padding-top: 3px;
}

.winner {
    color: white;
}

.top-margin{
    margin-top: 20px;
    padding-top: 20px;
}

h2 {
    text-align: center;
}
